.logo {
    font-size: 2rem;
    position: absolute;
    top: 1.325rem;
    left: 2rem;
}

.toggle {
    display: block;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.navLinks {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        width: 100vw;
    }
}

.navLinks li {
    margin-block: 1.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;

    @media (max-width: 768px) {
        font-size: 2.25rem;
    }
}

.navLinks li:hover {
    text-decoration: underline;
}
